@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out
  
  }

  
}


/* style the popup close button */
.mapboxgl-popup-close-button {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  margin-bottom: 10px;
  /* border: 19px solid #FD5B61; */
  /* border-radius: 9999px; */
  color:red;
}
        




